# Collect Shopping Data from SQLite
Now you have learned how to collect data from a SQLite databse. Let's practice!

The attached `shopping.sqlite` file contains a dummy shopping dataset. Try to use your knowledge of collecting data from a SQL database, and retrieve information from it.

## Establish the connection

In [ ]:
import sqlite3

connection = sqlite3.connect('/content/shopping.sqlite')
cursor = connection.cursor()

query = '''
SELECT name FROM sqlite_master
WHERE type='table';
'''

cursor.execute(query)
results = cursor.fetchall()
results

[('customer_shopping_data',)]

## Retrieve information from the database

In [ ]:
query = '''SELECT *
FROM customer_shopping_data
Limit 3'''

cursor.execute(query)
results = cursor.fetchall()
results

[('I138884',
  'C241288',
  'Female',
  28,
  'Clothing',
  5,
  1500.4,
  'Credit Card',
  '5/8/2022',
  'Kanyon'),
 ('I317333',
  'C111565',
  'Male',
  21,
  'Shoes',
  3,
  1800.51,
  'Debit Card',
  '12/12/2021',
  'Forum Istanbul'),
 ('I127801',
  'C266599',
  'Male',
  20,
  'Clothing',
  1,
  300.08,
  'Cash',
  '9/11/2021',
  'Metrocity')]

### Fetch all records.

In [ ]:
query = '''SELECT *
FROM customer_shopping_data
'''

cursor.execute(query)
results = cursor.fetchall()

## Columns' names

We learned that the missing columns' names are:
`['invoice_no',
'customer_id',
'gender',
'age',
'category',
'quantity',
'price',
'payment_method',
'invoice_date',
'shopping_mall']`.

Combine this information and create a DataFrame of the shopping data, then save it to a CSV file for later use.

In [ ]:
cols = ['invoice_no',
        'customer_id',
        'gender',
        'age',
        'category',
        'quantity',
        'price',
        'payment_method',
        'invoice_date',
        'shopping_mall']

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(results, columns= cols)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16029 entries, 0 to 16028
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      16029 non-null  object
 1   customer_id     16029 non-null  object
 2   gender          16029 non-null  object
 3   age             16029 non-null  int64
 4   category        16029 non-null  object
 5   quantity        16029 non-null  int64
 6   price           16029 non-null  float64
 7   payment_method  16029 non-null  object
 8   invoice_date    16029 non-null  object
 9   shopping_mall   16029 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 1.2+ MB

In [ ]:
df.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon

## Save your retrieve information as a CSV file

In [ ]:
df.to_csv('/content/shopping.csv')